name: Django CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run lint (ruff)
        run: |
          ruff check .

      - name: Run type check (mypy)
        env:
          DJANGO_SETTINGS_MODULE: config.settings
          SECRET_KEY: test-secret-key
          DEBUG: False
          ALLOWED_HOSTS: localhost
        run: |
          mypy .

      - name: Run Django checks & tests
        env:
          SECRET_KEY: test-secret-key
          DEBUG: False
          ALLOWED_HOSTS: localhost
        run: |
          python manage.py check
          python manage.py migrate
          python manage.py test

  sonar-scan:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@d08d592c0b694607865c089cba90bbf87c9a6d89
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_PROJECT_KEY: nabiilahputri13_willowstretch-be
          SONAR_ORGANIZATION: nabiilahputri13


